<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>提交表单</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="example/layui/css/layui.css" media="all"/>
</head>
<body class="main_body" style="background: #dddddd">
<div class="layui-fluid">
    <div class="layui-row" style="padding: 20px 0px 5px 0px">
        <form class="layui-form" id="formDemo" action="">
            <input id="taskId" name="taskId" type="hidden">
            <input id="formKey" name="formKey" type="hidden">
            <input id="processInstanceId" name="processInstanceId" type="hidden">
            <div class="layui-form-item">
                <label class="layui-form-label">姓名</label>
                <div class="layui-input-block">
                    <input id="name" type="text" name="name" required lay-verify="required" placeholder="姓名"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">天数</label>
                <div class="layui-input-inline">
                    <input type="number" name="days" id="days" required lay-verify="required" placeholder="天数"
                           autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">辅助文字</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">开始时间</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" id="starttime" name="starttime">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">结束时间</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" id="endtime" name="endtime">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" id="sumbit" lay-submit lay-filter="formDemo">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
        <img id="process_img" >
    </div>
</div>
<script type="text/javascript" src="example/layui/layui.js"></script>
<script type="text/javascript" src="example/my/echart/echarts.js"></script>
<script type="text/javascript" src="example/my/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="example/my/js/jquery.serializejson.js"></script>
<script type="text/javascript">
    layui.use(['form', 'laydate', 'element'], function () {
        // var $ = layui.jquery;
        // $('#process_img')[0].src='workflow/processInstance/diagram?processInstanceId='+$('#processInstanceId').val();
        var form = layui.form;
        //监听提交
        $("#sumbit").on('click', function () {
            $.ajax({
                url: 'workflow/task_ins/u/dealWith',
                type: 'post',
                data: {
                    taskId: $('#taskId').val(),
                    comment: '',
                    formKey:$('#formKey').val(),
                    formVariables: $('#formDemo').serializeJSON()
                },
                beforeSend: function () {
                    this.layerIndex = layer.load(0, {shade: [0.5, '#393D49']});
                },
                success: function (data) {
                    layer.msg(data.message);
                    return false;
                },
                complete: function () {
                    layer.close(this.layerIndex);
                },
            });
        });
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#test1' //指定元素
        });
    });
</script>
</body>
</html>