<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deer.wms.system.manage.dao.MtAloneDepartmentGroupMapper">
  <resultMap id="BaseResultMap" type="com.deer.wms.system.manage.model.department.MtAloneDepartmentGroup">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="operator_id" jdbcType="INTEGER" property="operatorId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="creator_id" jdbcType="BIGINT" property="creatorId" />
    <result column="updater_id" jdbcType="BIGINT" property="updaterId" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="group_name" jdbcType="VARCHAR" property="groupName" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="department_id" jdbcType="INTEGER" property="departmentId" />
    <result column="abb" jdbcType="VARCHAR" property="abb" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="company_id" jdbcType="INTEGER" property="companyId" />
  </resultMap>

  <resultMap extends="BaseResultMap" id="departmentGroupMap" type="com.deer.wms.system.manage.model.department.MtAloneDepartmentGroupVO">
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="department_name" jdbcType="VARCHAR" property="departmentName" />
  </resultMap>
  <select id="findList" parameterType="com.deer.wms.system.manage.model.department.MtAloneDepartmentParams" resultMap="departmentGroupMap">
    select  comp.company_name,d.department_name,t.*
    from mt_alone_department_group t, company comp,mt_alone_department d
    where t.company_id = comp.company_id and t.status = 1 and t.department_id = d.id
    <if test="companyId != null">
      AND  t.company_id = #{companyId}
    </if>
    <if test="keywords != null and keywords != ''">
      AND (
      t.group_name LIKE CONCAT('%', #{keywords}, '%')
      )
    </if>
    <if test="begDate!=null and begDate!=''">
      <![CDATA[   AND DATE_FORMAT(create_time, '%Y-%m-%d')>=  DATE_FORMAT(#{begDate}, '%Y-%m-%d')   ]]>
    </if>
    <if test="endDate!=null and endDate!=''">
      <![CDATA[  AND DATE_FORMAT(create_time, '%Y-%m-%d') <= DATE_FORMAT(#{endDate}, '%Y-%m-%d')    ]]>
    </if>
    order by t.create_time DESC
  </select>
</mapper>