<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deer.wms.system.manage.dao.MtAloneLogMapper">
	<resultMap id="BaseResultMap" type="com.deer.wms.system.manage.model.MtAloneLog">
		<!-- WARNING - @mbg.generated -->
		<id column="log_id" jdbcType="INTEGER" property="logId" />
		<result column="operate_user_id" jdbcType="INTEGER" property="operateUserId" />
		<result column="log_type" jdbcType="VARCHAR" property="logType" />
		<result column="operate_user_name" jdbcType="VARCHAR" property="operateUserName" />
		<result column="log_description" jdbcType="VARCHAR" property="logDescription" />
		<result column="result" jdbcType="VARCHAR" property="result" />
		<result column="action_url" jdbcType="VARCHAR" property="actionUrl" />
		<result column="operate_ip" jdbcType="VARCHAR" property="operateIp" />
		<result column="operate_time" jdbcType="TIMESTAMP" property="operateTime" />
		<result column="duration" jdbcType="REAL" property="duration" />
		<result column="notes" jdbcType="VARCHAR" property="notes" />
		<result column="os" jdbcType="VARCHAR" property="os" />
		<result column="browser" jdbcType="VARCHAR" property="browser" />
		<result column="location" jdbcType="VARCHAR" property="location" />
	</resultMap>
	<select id="findList" parameterType="com.deer.wms.system.manage.model.MtAloneLogCriteria" resultMap="BaseResultMap">
		select *
		from mt_alone_log t
		where 1=1
		<if test="keyword != null and keyword != ''">
			AND (
			t.operate_user_name LIKE CONCAT('%', #{keyword}, '%')
			OR t.log_type LIKE CONCAT('%', #{keyword}, '%')
			OR t.log_description
			LIKE
			CONCAT('%', #{keyword}, '%')
			)
		</if>
		<if test="begDate!=null and begDate!=''">
           <![CDATA[   AND DATE_FORMAT(operate_time, '%Y-%m-%d')>=  DATE_FORMAT(#{begDate}, '%Y-%m-%d')   ]]>
		</if>
		<if test="endDate!=null and endDate!=''">
           <![CDATA[  AND DATE_FORMAT(operate_time, '%Y-%m-%d') <= DATE_FORMAT(#{endDate}, '%Y-%m-%d')    ]]>
		</if>
		order by t.operate_time DESC
	</select>

	<select id="findListNew" parameterType="com.deer.wms.system.manage.model.log.LogParams" resultMap="BaseResultMap">
		select *
		from mt_alone_log t
		where 1=1
		<if test="keywords != null and keywords != ''">
			AND (
			t.operate_user_name LIKE CONCAT('%', #{keywords}, '%')
			OR t.log_type LIKE CONCAT('%', #{keywords}, '%')
			OR t.log_description LIKE CONCAT('%', #{keywords}, '%')
			)
		</if>
		<if test="begDate!=null and begDate!=''">
           <![CDATA[   AND DATE_FORMAT(operate_time, '%Y-%m-%d')>=  DATE_FORMAT(#{begDate}, '%Y-%m-%d')   ]]>
		</if>
		<if test="endDate!=null and endDate!=''">
           <![CDATA[  AND DATE_FORMAT(operate_time, '%Y-%m-%d') <= DATE_FORMAT(#{endDate}, '%Y-%m-%d')    ]]>
		</if>
		order by t.operate_time DESC
	</select>
</mapper>