<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deer.wms.detect.dao.MtAloneWindingMachineMapper">
  <resultMap id="BaseResultMap" type="com.deer.wms.detect.model.MtAloneWindingMachine">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="winding_machine_name" jdbcType="VARCHAR" property="windingMachineName" />
    <result column="machine_code" jdbcType="VARCHAR" property="machineCode" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="notes" jdbcType="VARCHAR" property="notes" />
    <result column="create_man_id" jdbcType="INTEGER" property="createManId" />
    <result column="company_id" jdbcType="INTEGER" property="companyId" />
    <result column="version" jdbcType="VARCHAR" property="version" />
  </resultMap>
  
    <select id="findList" parameterType="com.deer.wms.detect.model.MtAloneWindingMachineParams" resultMap="BaseResultMap">
    select   *
    from mt_alone_winding_machine mac 
    WHERE 1=1
      <if test="companyId != null">
        AND mac.company_id = #{companyId}
      </if> 
      <if test="keywords != null and keywords != ''">
        AND mac.winding_machine_name LIKE CONCAT('%', #{keywords}, '%')
      </if>
    ORDER BY mac.create_time desc
  </select>
</mapper>