<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deer.wms.detect.dao.MtAloneObjAccessoryMapper">
  <resultMap id="BaseResultMap" type="com.deer.wms.detect.model.MtAloneObjAccessory">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="obj_id" jdbcType="INTEGER" property="objId" />
    <result column="accessory_id" jdbcType="INTEGER" property="accessoryId" />
  </resultMap>
</mapper>