<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deer.wms.bill.manage.dao.MtAloneTagMapper">
  <resultMap id="BaseResultMap" type="com.deer.wms.bill.manage.model.MtAloneTag">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="tag_id" jdbcType="INTEGER" property="tagId" />
    <id column="tag_code" jdbcType="VARCHAR" property="tagCode" />
    <result column="tag_name" jdbcType="VARCHAR" property="tagName" />
    <result column="tag_type" jdbcType="INTEGER" property="tagType" />
    <result column="is_default" jdbcType="INTEGER" property="isDefault" />
  </resultMap>
</mapper>