<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deer.wms.bill.manage.dao.MtAlonePrintModelMapper">
  <resultMap id="BaseResultMap" type="com.deer.wms.bill.manage.model.MtAlonePrintModel">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="print_model_id" jdbcType="INTEGER" property="printModelId" />
    <result column="print_model_code" jdbcType="VARCHAR" property="printModelCode" />
    <result column="print_model_type" jdbcType="INTEGER" property="printModelType" />
    <result column="is_default" jdbcType="TINYINT" property="isDefault" />
    <result column="is_preview" jdbcType="TINYINT" property="isPreview" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_man_id" jdbcType="INTEGER" property="createManId" />
    <result column="notes" jdbcType="VARCHAR" property="notes" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="company_id" jdbcType="INTEGER" property="companyId" />
    <result column="print_model_content" jdbcType="LONGVARCHAR" property="printModelContent" />
  </resultMap>
</mapper>