<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deer.wms.bill.manage.dao.MtAloneProductDetMapper">
  <resultMap id="BaseResultMap" type="com.deer.wms.bill.manage.model.MtAloneProductDet">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="product_det_id" jdbcType="INTEGER" property="productDetId" />
    <result column="product_det_code" jdbcType="VARCHAR" property="productDetCode" />
    <result column="product_det_index" jdbcType="INTEGER" property="productDetIndex" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="product_det_length" jdbcType="REAL" property="productDetLength" />
    <result column="product_det_remain_length" jdbcType="REAL" property="productDetRemainLength" />
    <result column="cell_code" jdbcType="VARCHAR" property="cellCode" />
    <result column="product_det_state" jdbcType="INTEGER" property="productDetState" />
    <result column="volume_num" jdbcType="VARCHAR" property="volumeNum" />
    <result column="color_code" jdbcType="VARCHAR" property="colorCode" />
    <result column="dyelot_num" jdbcType="VARCHAR" property="dyelotNum" />
    <result column="product_det_barcode" jdbcType="VARCHAR" property="productDetBarcode" />
    <result column="warehouse_barcode" jdbcType="VARCHAR" property="warehouseBarcode" />
    <result column="detection_barcode" jdbcType="VARCHAR" property="detectionBarcode" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="weight" jdbcType="REAL" property="weight" />
    <result column="flaw_info" jdbcType="VARCHAR" property="flawInfo" />
    <result column="product_level" jdbcType="VARCHAR" property="productLevel" />
    <result column="salable_product_length" jdbcType="REAL" property="salableProductLength" />
    <result column="salable_code_length" jdbcType="REAL" property="salableCodeLength" />
    <result column="is_detection" jdbcType="INTEGER" property="isDetection" />
    <result column="detection_man_id" jdbcType="INTEGER" property="detectionManId" />
    <result column="detection_machine_id" jdbcType="INTEGER" property="detectionMachineId" />
    <result column="warehouse_entry_time" jdbcType="TIMESTAMP" property="warehouseEntryTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="delivery_state" jdbcType="INTEGER" property="deliveryState" />
    <result column="return_state" jdbcType="INTEGER" property="returnState" />
    <result column="detection_time" jdbcType="TIMESTAMP" property="detectionTime" />
    <result column="color_name" jdbcType="VARCHAR" property="colorName" />
    <result column="colour" jdbcType="VARCHAR" property="colour" />
    <result column="rgb_hex" jdbcType="VARCHAR" property="rgbHex" />
    <result column="is_complete_out" jdbcType="INTEGER" property="isCompleteOut" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="company_id" jdbcType="INTEGER" property="companyId" />
  </resultMap>
</mapper>