<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deer.wms.bill.manage.dao.MtAloneProductDetMapper">
  <resultMap id="BaseResultMap" type="com.deer.wms.bill.manage.model.MtAloneProductDet">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="product_det_id" jdbcType="INTEGER" property="productDetId" />
    <result column="product_det_code" jdbcType="VARCHAR" property="productDetCode" />
    <result column="product_det_index" jdbcType="INTEGER" property="productDetIndex" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="product_det_length" jdbcType="REAL" property="productDetLength" />
    <result column="product_det_remain_length" jdbcType="REAL" property="productDetRemainLength" />
    <result column="cell_code" jdbcType="VARCHAR" property="cellCode" />
    <result column="product_det_state" jdbcType="INTEGER" property="productDetState" />
    <result column="volume_num" jdbcType="VARCHAR" property="volumeNum" />
    <result column="color_code" jdbcType="VARCHAR" property="colorCode" />
    <result column="dyelot_num" jdbcType="VARCHAR" property="dyelotNum" />
    <result column="product_det_barcode" jdbcType="VARCHAR" property="productDetBarcode" />
    <result column="warehouse_barcode" jdbcType="VARCHAR" property="warehouseBarcode" />
    <result column="detection_barcode" jdbcType="VARCHAR" property="detectionBarcode" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="weight" jdbcType="REAL" property="weight" />
    <result column="flaw_info" jdbcType="VARCHAR" property="flawInfo" />
    <result column="product_level" jdbcType="VARCHAR" property="productLevel" />
    <result column="salable_product_length" jdbcType="REAL" property="salableProductLength" />
    <result column="salable_code_length" jdbcType="REAL" property="salableCodeLength" />
    <result column="is_detection" jdbcType="INTEGER" property="isDetection" />
    <result column="detection_man_id" jdbcType="INTEGER" property="detectionManId" />
    <result column="detection_machine_id" jdbcType="INTEGER" property="detectionMachineId" />
    <result column="warehouse_entry_time" jdbcType="TIMESTAMP" property="warehouseEntryTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="delivery_state" jdbcType="INTEGER" property="deliveryState" />
    <result column="return_state" jdbcType="INTEGER" property="returnState" />
    <result column="detection_time" jdbcType="TIMESTAMP" property="detectionTime" />
    <result column="color_name" jdbcType="VARCHAR" property="colorName" />
    <result column="rgb_hex" jdbcType="VARCHAR" property="rgbHex" />
    <result column="is_complete_out" jdbcType="INTEGER" property="isCompleteOut" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="company_id" jdbcType="INTEGER" property="companyId" />
  </resultMap>
  <resultMap id="ProductDetDto" type="com.deer.wms.bill.manage.model.MtAloneProductDetDto" extends="BaseResultMap">
     <result column="product_name" jdbcType="VARCHAR" property="productName" />
     <result column="product_code" jdbcType="VARCHAR" property="productCode" />
     <result column="item_code" jdbcType="VARCHAR" property="itemCode" />
     <result column="supplier_name" jdbcType="VARCHAR" property="supplierName" />
     <result column="cell_alias" jdbcType="VARCHAR" property="cellAlias" />
  </resultMap>
   <!--select id="findList" parameterType="com.deer.wms.bill.manage.model.MtAloneProductDetCriteria" resultMap="BaseResultMap">
    select   *
    from mt_alone_product_det  
    where is_complete_out=0
  </select>  -->
  
  <select id="findList" parameterType="com.deer.wms.bill.manage.model.MtAloneDetectDetParams" resultMap="BaseResultMap">
    select   *
    from mt_alone_product_det det 
    WHERE 1=1
      <if test="companyId != null">
        AND det.company_id = #{companyId}
      </if> 
    AND det.is_complete_out=0
    ORDER BY det.create_time desc
  </select>
  
  <select id="findMaxIndex" parameterType="com.deer.wms.bill.manage.model.MtAloneProductDetCriteria" resultType="java.lang.Integer">
   	select ifnull(MAX(product_det_index),0)
    from mt_alone_product_det
    where 1=1
    <if test="productBarcode!=null and productBarcode!=''">
      and warehouse_barcode = #{productBarcode}
    </if> 
  </select>
  
  <select id="findDetilByProductBarcode" parameterType="com.deer.wms.bill.manage.model.MtAloneProductDetCriteria" resultMap="BaseResultMap">
    select * 
    from mt_alone_product_det 
    where 1=1
    <if test="productBarcode!=null and productBarcode!=''">
     and warehouse_barcode = #{productBarcode}
     and is_complete_out=0
    </if>  
  </select>
  
   <select id="getIsNotDetectDet" parameterType="com.deer.wms.bill.manage.model.MtAloneProductDetCriteria" resultMap="BaseResultMap">
    select * 
    from mt_alone_product_det 
    where 1=1
    <if test="productBarcode!=null and productBarcode!=''">
     and warehouse_barcode = #{productBarcode}
     and product_det_index=(SELECT MIN(product_det_index) FROM mt_alone_product_det det where det.warehouse_barcode=#{productBarcode} and det.is_detection=0) 
     and is_detection=0
    </if>  
  </select>
  
   <select id="findDetilByProductId" parameterType="com.deer.wms.bill.manage.model.MtAloneProductDetParams" resultMap="ProductDetDto">

    SELECT 
    pro.product_name product_name,
    pro.product_code product_code,
    pro.item_code item_code,
    pro.cell_code cell_code,
    pro.dyelot_num dyelot_num,
    pro.color_name color_name, 
    sup.supplier_name supplier_name, 
    det.* ,
    c.cell_alias
    FROM mt_alone_product_det det 
    LEFT JOIN mt_alone_product pro
    ON pro.id=det.product_id
    LEFT JOIN supplier_manage sup 
    ON pro.supplier_code = sup.supplier_code
    LEFT JOIN cell_info c
    ON det.cell_code = c.cell_code
    WHERE 1=1
    <if test="productId!=null">
    AND det.product_id = #{productId}
    </if>  
    <if test="companyId != null">
        AND det.company_id = #{companyId}
    </if> 
    <if test="keywords != null and keywords != ''">
        AND (
        pro.product_name LIKE CONCAT('%', #{keywords}, '%')
        OR pro.product_code LIKE CONCAT('%', #{keywords}, '%')
        OR pro.item_code LIKE CONCAT('%', #{keywords}, '%')
        OR pro.cell_code LIKE CONCAT('%', #{keywords}, '%')
        OR pro.color_name LIKE CONCAT('%', #{keywords}, '%')
        OR sup.supplier_name LIKE CONCAT('%', #{keywords}, '%') 
        )
      </if>
    and is_complete_out=0
  </select>
  
  <!--select id="findDetByCellCode" parameterType="com.deer.wms.bill.manage.model.MtAloneProductDetCriteria" resultMap="ProductDetDto">
    SELECT 
    pro.product_name product_name,
    pro.product_code product_code,
    pro.item_code item_code,
    pro.cell_code cell_code,
    pro.dyelot_num dyelot_num,
    pro.color_name color_name, 
    sup.supplier_name supplier_name, 
    det.* 
    FROM mt_alone_product_det det 
    LEFT JOIN mt_alone_product pro
    ON pro.id=det.product_id
    LEFT JOIN supplier_manage sup 
    ON pro.supplier_code = sup.supplier_code
    WHERE 1=1
    <if test="cellCode!=null and cellCode!=''">
     and pro.cell_code = #{cellCode}
     and is_complete_out=0
    </if>  
  </select-->

    <select id="findDetByCellCode" parameterType="com.deer.wms.bill.manage.model.MtAloneProductDetCriteria" resultMap="ProductDetDto">
        SELECT
        pro.product_name product_name,
        pro.product_code product_code,
        pro.item_code item_code,
        pro.cell_code cell_code,
        pro.dyelot_num dyelot_num,
        pro.color_name color_name,
        sup.supplier_name supplier_name,
        det.*
        FROM mt_alone_product_det det
        LEFT JOIN mt_alone_product pro
        ON pro.id=det.product_id
        LEFT JOIN supplier_manage sup
        ON pro.supplier_code = sup.supplier_code
        WHERE 1=1
        <if test="cellCode!=null and cellCode!=''">
            and det.cell_code = #{cellCode}
            and is_complete_out=0
        </if>
    </select>
  
   <update id="addRollNum" parameterType="java.lang.String" >
    update mt_alone_product 
    set ware_num=ware_num+1 
    where 1=1
    <if test="productCode!=null and productCode!=''">
     and product_bar_code = #{productCode}
    </if>  
  </update>
  
   <update id="minusRollNum" parameterType="java.lang.String" >
    update mt_alone_product 
    set ware_num=ware_num-1 
    where 1=1
    <if test="productCode!=null and productCode!=''">
     and product_bar_code = #{productCode}
    </if>  
  </update>
  
   <update id="updateCell" parameterType="com.deer.wms.bill.manage.model.MtAloneProductCriteria" >
     update mt_alone_product_det 
    <if test="productBarCode!=null and productBarCode!=''">
     set cell_code=#{cellCode},product_det_state=1
     and warehouse_barcode = #{productBarCode}
    </if>   
  </update>
  
  <update id="setCellByOneKey" parameterType="com.deer.wms.bill.manage.model.MtAloneProductDetCriteria" >
    update mt_alone_product_det
    <if test="cellCode!=null and cellCode!=''">
    set cell_code=#{cellCode},warehouse_entry_time=#{warehouseEntryTime},product_det_state=1
    </if>  
    where 1=1
    <if test="productBarcode!=null and productBarcode!=''">
     and warehouse_barcode = #{productBarcode}
    </if>  
  </update>
  
  <select id="findCountByProductBarcode" parameterType="java.lang.String" resultType="java.lang.Integer">
    select   count(*)
    from mt_alone_product_det  
    where 1=1
    <if test="productBarCode!=null and productBarCode!=''">
     and warehouse_barcode = #{productBarCode}
     and product_det_state = 1
     and is_complete_out=0
    </if>  
  </select>
  
  <select id="findProductDetByBarCode" parameterType="java.lang.String" resultMap="BaseResultMap">
    select * from mt_alone_product_det
     where 1=1
   <if test="productDetBarCode != null and productDetBarCode != ''">
     AND product_det_barcode=#{productDetBarCode}
   </if>
  </select>
  
  <select id="findOneDetByProCode" parameterType="java.lang.String" resultMap="BaseResultMap">
     select * from mt_alone_product_det
     where 1=1
   <if test="productBarCode != null and productBarCode != ''">
     AND product_det_index=(SELECT MIN(product_det_index) FROM mt_alone_product_det)
     AND warehouse_barcode=#{productBarCode}
     AND is_detection=0
     AND is_complete_out=0
   </if>
  </select>
  
  <select id="findInventoryDet" parameterType="com.deer.wms.bill.manage.model.MtAloneProductDetCriteria" resultType="java.lang.Integer">
   	select count(*) from mt_alone_product_det 
   	where 1=1 and product_det_state=1 
    <if test="wareCode!=null and wareCode!=''">
     and substring_index(substring_index(cell_code,'-',-5),'-',1) = #{wareCode}
    </if>  
  </select>
  
  <select id="findForReviewPro" parameterType="com.deer.wms.bill.manage.model.MtAloneProductDetCriteria" resultType="java.lang.Integer">
   	select count(*) from mt_alone_product 
   	where 1=1 and reviewe_state=1 
  </select>
  
  <select id="findAllDeliveryDet" parameterType="com.deer.wms.bill.manage.model.MtAloneProductDetCriteria" resultType="java.lang.Integer">
   	select count(*) from mt_alone_product_det 
   	where 1=1 and delivery_state=1 
    <if test="wareCode!=null and wareCode!=''">
     and substring_index(substring_index(cell_code,'-',-5),'-',1) = #{wareCode}
    </if>  
  </select>
  
   <select id="findForOnShelfDet" parameterType="com.deer.wms.bill.manage.model.MtAloneProductDetCriteria" resultType="java.lang.Integer">
   	select count(*) from mt_alone_product_det 
   	where 1=1 and product_det_state=1 and cell_code is null  
   	<if test="wareCode!=null and wareCode!=''">
     and substring_index(substring_index(cell_code,'-',-5),'-',1) = #{wareCode}
    </if>  
  </select>
  
   <select id="findOnShelfDet" parameterType="com.deer.wms.bill.manage.model.MtAloneProductDetCriteria" resultType="java.lang.Integer">
   	select count(*) from mt_alone_product_det 
   	where 1=1 and product_det_state=1 and cell_code is not null  
    <if test="wareCode!=null and wareCode!=''">
     and substring_index(substring_index(cell_code,'-',-5),'-',1) = #{wareCode}
    </if>  
  </select>
  
  <select id="findDeliveryedDet" parameterType="com.deer.wms.bill.manage.model.MtAloneProductDetCriteria" resultType="java.lang.Integer">
   	select count(*) from mt_alone_product_det 
   	where 1=1 and delivery_state=1 and product_det_remain_length=0  
    <if test="wareCode!=null and wareCode!=''">
     and substring_index(substring_index(cell_code,'-',-5),'-',1) = #{wareCode}
    </if>  
  </select>
  
    <select id="findUtilizationByWareCode" parameterType="com.deer.wms.bill.manage.model.MtAloneProductDetCriteria" resultType="com.deer.wms.bill.manage.model.MtAloneProductDetUtilVO">
        select
        ( select count(cell_id) from cell_info
        <where>
            <if test="wareCode!=null and wareCode!=''">
                substring_index(substring_index(cell_code,'-',-5),'-',1) = #{wareCode}
            </if>
        </where> ) denominator,

        ( select count(product_det_id) from mt_alone_product_det
        <where>
            and cell_code is not null
            <if test="wareCode!=null and wareCode!=''">
                and substring_index(substring_index(cell_code,'-',-5),'-',1) = #{wareCode}
            </if>
        </where> ) numerator
     from dual
    </select>

    <select id="findCountCellStateByWareCode" parameterType="com.deer.wms.bill.manage.model.MtAloneHomePageCriteria" resultType="com.deer.wms.bill.manage.model.MtAloneCellStateDto">
        select
        ( select count(cell_id) from cell_info
        <where>
            state=0
            <if test="wareCode!=null and wareCode!=''">
               and substring_index(substring_index(cell_code,'-',-5),'-',1) = #{wareCode}
            </if>
        </where> ) countNoStock,

        ( select count(cell_id) from cell_info
        <where>
            state=1
            <if test="wareCode!=null and wareCode!=''">
                and substring_index(substring_index(cell_code,'-',-5),'-',1) = #{wareCode}
            </if>
        </where> ) countInStock,

        ( select count(cell_id) from cell_info
        <where>
            state=2
            <if test="wareCode!=null and wareCode!=''">
                and substring_index(substring_index(cell_code,'-',-5),'-',1) = #{wareCode}
            </if>
        </where> ) countLock,

        ( select count(cell_id) from cell_info
        <where>
            state=3
            <if test="wareCode!=null and wareCode!=''">
                and substring_index(substring_index(cell_code,'-',-5),'-',1) = #{wareCode}
            </if>
        </where> ) countFault

        from dual
    </select>

	 <select id="findCountByCellCode" parameterType="java.lang.String" resultType="java.lang.Integer">
	   SELECT COUNT(product_det_id)FROM mt_alone_product_det  det
       WHERE det.state='normal'
       <if test="cellCode!=null and cellCode!=''">
       AND det.`warehouse_barcode`=(SELECT product_bar_code FROM mt_alone_product 
       WHERE mt_alone_product.`cell_code`=#{cellCode})
       AND is_complete_out=0
	   </if> 
     </select>
  
    <select id="findProDetListBySupCode" parameterType="com.deer.wms.base.system.model.SupplierManageCriteria" resultType="com.deer.wms.bill.manage.model.MtAloneProductDet">
        SELECT * FROM mt_alone_product_det
        WHERE 1=1 and product_id IN
        (SELECT id FROM mt_alone_product
        WHERE  1=1
        <if test="supplierCode!=null and supplierCode!=''">
            and supplier_code = #{supplierCode}
        </if>

        ORDER BY  create_time DESC)

    </select>

    <select id="findWareBySupCode" parameterType="com.deer.wms.base.system.model.SupplierManageCriteria" resultType="com.deer.wms.bill.manage.model.SupplierStorageInfo">
        SELECT t0.ware_code as value, t0.ware_name as label
        FROM ware_info t0 INNER JOIN
        (SELECT DISTINCT(SUBSTRING_INDEX(SUBSTRING_INDEX(t2.cell_code,'-',-5),'-',1)) AS wd
        FROM mt_alone_product t1 , mt_alone_product_det t2 WHERE 1=1
        <if test="supplierCode!=null and supplierCode!=''">
            and supplier_code = #{supplierCode}
        </if>
         AND t1.`product_bar_code` = t2.`warehouse_barcode`) t3
        ON t0.`ware_id` = t3.wd

    </select>

    <select id="findAreaBySupCode" parameterType="com.deer.wms.base.system.model.SupplierManageCriteria" resultType="com.deer.wms.bill.manage.model.SupplierStorageInfo">
        SELECT t0.ware_code as parentValue, t0.area_code as value, t0.area_name as label
        FROM area_info t0 INNER JOIN
        (SELECT DISTINCT(SUBSTRING_INDEX(SUBSTRING_INDEX(t2.cell_code,'-',-4),'-',1)) AS ad
        FROM mt_alone_product t1 , mt_alone_product_det t2 WHERE 1=1
        <if test="supplierCode!=null and supplierCode!=''">
            and supplier_code = #{supplierCode}
        </if>
        AND t1.`product_bar_code` = t2.`warehouse_barcode`) t3
        ON t0.`area_id` = t3.ad

    </select>

    <select id="findShelfBySupCode" parameterType="com.deer.wms.base.system.model.SupplierManageCriteria" resultType="com.deer.wms.bill.manage.model.SupplierStorageInfo">
        SELECT t0.area_code as parentValue, t0.shelf_code as value, t0.shelf_name as label
        FROM shelf_info t0 INNER JOIN
        (SELECT DISTINCT(SUBSTRING_INDEX(SUBSTRING_INDEX(t2.cell_code,'-',-3),'-',1)) AS sd
        FROM mt_alone_product t1 , mt_alone_product_det t2 WHERE 1=1
        <if test="supplierCode!=null and supplierCode!=''">
            and supplier_code = #{supplierCode}
        </if>
        AND t1.`product_bar_code` = t2.`warehouse_barcode`) t3
        ON t0.`shelf_id` = t3.sd

    </select>

    <select id=" findProDetListByCriteria" parameterType="com.deer.wms.bill.manage.model.StockReportCriteria" resultType="com.deer.wms.bill.manage.model.MtAloneProductDetDto">
       select t0.supplier_code supplierCode, t0.product_code productCode, t0.item_code itemCode, t0.product_name productName, t0.product_length productLength, t0.specification, t0.price, t1.*
       from mt_alone_product_det t1 left join mt_alone_product t0
       on t0.product_bar_code = t1.warehouse_barcode
       <where>
         <if test="begDate!=null and begDate!=''">
           and warehouse_entry_time <![CDATA[>=]]> #{begDate}
         </if>
         <if test="endDate!=null and endDate!=''">
           and warehouse_entry_time <![CDATA[<=]]> #{endDate}
         </if>
         <if test="supplier!=null and supplier!='' and supplier.supplierCode!=null and supplier.supplierCode!=''">
           and supplierCode like CONCAT('%', #{supplier.supplierCode}, '%')
         </if>
         <if test="itemCode!=null and itemCode!=''">
           and itemCode like CONCAT('%', #{itemCode}, '%')
         </if>
         <if test="productName!=null and productName!=''">
          and productName like CONCAT('%', #{productName}, '%')
        </if>


       </where>

        /***
              暂未用，待完善······*/

    </select>

    <select id="findHomePageAboveCount" resultType="com.deer.wms.bill.manage.model.MtAloneHomePageAboveDto">
        select
        (select count(distinct(t0.product_bar_code)) from mt_alone_product t0
        <where>
            t0.reviewe_state!=2 and t0.product_remain_length>0
        </where>) countProReviewed, /*已审核产品数*/

        (select count(distinct(t0.product_bar_code)) from mt_alone_product t0
        <where>
            t0.reviewe_state=2
        </where>) countProForReview, /*待审核产品数*/

        (select count(distinct(t1.product_det_barcode)) from mt_alone_product_det t1 left join mt_alone_product t0 on t0.product_bar_code =
        t1.warehouse_barcode
        <where>
            t0.reviewe_state=1 and t1.is_complete_out=0 and t1.cell_code is not null
        </where>) countProDetOnShelf, /*已上架明细卷数*/

        (select sum(t1.product_det_remain_length) from mt_alone_product_det t1 left join mt_alone_product t0 on t0.product_bar_code =
        t1.warehouse_barcode
        <where>
            t0.reviewe_state=1 and t1.is_complete_out=0 and t1.cell_code is not null
        </where>) proDetOnShelfMiles, /*已上架明细总米数*/

        (select count(distinct(t1.product_det_barcode)) from mt_alone_product_det t1 left join mt_alone_product t0 on t0.product_bar_code =
        t1.warehouse_barcode
        <where>
            t0.reviewe_state=1 and t1.cell_code is null and t1.is_complete_out=0
        </where>) countProDetForOnShelf, /*待上架明细卷数*/

        (select sum(t1.product_det_remain_length) from mt_alone_product_det t1 left join mt_alone_product t0 on t0.product_bar_code =
        t1.warehouse_barcode
        <where>
            t0.reviewe_state=1 and t1.cell_code is null and t1.is_complete_out=0
        </where>) proDetForOnShelfMiles /*待上架明细总米数*/

        from dual
    </select>


    <select id="findHomePageAboveCountNew" parameterType="com.deer.wms.bill.manage.model.MtAloneHomePageParams" resultType="com.deer.wms.bill.manage.model.MtAloneHomePageAboveNewDto">
        select
        (select IFNULL(sum(detect.detect_length),0) from mt_alone_detect_det detect
            <where>
                <if test="currentDate != null">
                  and DATE_FORMAT(create_time,'%Y-%m-%d') = DATE_FORMAT(#{currentDate}, '%Y-%m-%d')
                </if>
                <if test="companyId != null">
                  and detect.company_id =#{companyId}
                </if>
            </where>) todayInBoundMiles, /*今日入库米数*/

        (select IFNULL(sum(delivery.delivery_length),0) from mt_alone_delivery_det delivery
            <where>
                delivery.state = 'normal'
                <if test="currentDate != null">
                    and DATE_FORMAT(create_time,'%Y-%m-%d') = DATE_FORMAT(#{currentDate}, '%Y-%m-%d')
                </if>
                <if test="companyId != null">
                    and delivery.company_id =#{companyId}
                </if>
            </where>) todayOutBoundMiles, /*今日出库米数*/

        (select IFNULL(sum(delivery.delivery_length),0) from mt_alone_delivery_det delivery
            <where>
                delivery.state = 'normal'
                <if test="currentDate != null">
                    and DATE_FORMAT(create_time,'%Y') = DATE_FORMAT(#{currentDate}, '%Y')
                </if>
                <if test="companyId != null">
                    and delivery.company_id =#{companyId}
                </if>
            </where>) totalOutBoundMiles, /*年累计出库米数*/

        (select IFNULL(sum(productDet.product_det_remain_length),0) from mt_alone_product_det productDet
            <where>
                productDet.state = 'normal' and productDet.is_complete_out = 0
                <if test="companyId != null">
                    and productDet.company_id =#{companyId}
                </if>
            </where>) remainMiles, /*剩余米数*/

        (select count(distinct(productDet.product_det_barcode)) from mt_alone_product_det productDet
        <where>
            productDet.state = 'normal' and productDet.is_complete_out = 0
            <if test="companyId != null">
                and productDet.company_id =#{companyId}
            </if>
        </where>) remainPieces, /*剩余匹数*/

        (select IFNULL(sum(productDet.product_det_remain_length),0) from mt_alone_product_det productDet
        left join mt_alone_product product on product.id = productDet.product_id and product.company_id = productDet.company_id
        left join item_type itemType on product.product_type_code = itemType.item_type_code and product.company_id = itemType.company_id
        <where>
            productDet.state = 'normal' and product.state = 'normal' and productDet.is_complete_out = 0 and itemType.item_type_name = '成品'
            <if test="companyId != null">
                and productDet.company_id =#{companyId}
            </if>
        </where>) finishedMiles, /*成品米数*/

        (select count(distinct(productDet.product_det_barcode)) from mt_alone_product_det productDet
        left join mt_alone_product product on product.id = productDet.product_id and product.company_id = productDet.company_id
        left join item_type itemType on product.product_type_code = itemType.item_type_code and product.company_id = itemType.company_id
        <where>
            productDet.state = 'normal' and product.state = 'normal' and productDet.is_complete_out = 0 and itemType.item_type_name = '成品'
            <if test="companyId != null">
                and productDet.company_id =#{companyId}
            </if>
        </where>) finishedPieces, /*成品匹数*/

        (select IFNULL(sum(productDet.product_det_remain_length),0) from mt_alone_product_det productDet
        left join mt_alone_product product on product.id = productDet.product_id and product.company_id = productDet.company_id
        left join item_type itemType on product.product_type_code = itemType.item_type_code and product.company_id = itemType.company_id
        <where>
            productDet.state = 'normal' and product.state = 'normal' and productDet.is_complete_out = 0 and itemType.item_type_name = '坯布'
            <if test="companyId != null">
                and productDet.company_id =#{companyId}
            </if>
        </where>) rawMiles, /*坯布米数*/

        (select count(distinct(productDet.product_det_barcode)) from mt_alone_product_det productDet
        left join mt_alone_product product on product.id = productDet.product_id and product.company_id = productDet.company_id
        left join item_type itemType on product.product_type_code = itemType.item_type_code and product.company_id = itemType.company_id
        <where>
            productDet.state = 'normal' and product.state = 'normal' and productDet.is_complete_out = 0 and itemType.item_type_name = '坯布'
            <if test="companyId != null">
                and productDet.company_id =#{companyId}
            </if>
        </where>) rawPieces  /*坯布匹数*/

        from dual
    </select>

    <select id="findHomePageBelowArrivalCount" parameterType="com.deer.wms.bill.manage.model.MtAloneHomePageCriteria"  resultType="com.deer.wms.bill.manage.model.MtAloneAriAndDelVo">
        select DATE_FORMAT(create_time,'%Y-%m-%d') as date, sum(product_length) as milesSum from mt_alone_product
        <where>
            reviewe_state = 1
            <if test="productTypeCode != null and productTypeCode != ''">
                and product_type_code =  #{productTypeCode}
            </if>
            <!--
            <if test="begDate != null and endDate != null">
                and DATE_FORMAT(create_time,'%Y-%m-%d') between DATE_FORMAT(#{begDate}, '%Y-%m-%d') and DATE_FORMAT(#{endDate}, '%Y-%m-%d')
            </if>
            -->
            <if test="begDate != null">
                and DATE_FORMAT(create_time,'%Y-%m-%d') <![CDATA[>=]]> DATE_FORMAT(#{begDate}, '%Y-%m-%d')
            </if>
            <if test="endDate != null">
                and DATE_FORMAT(create_time,'%Y-%m-%d') <![CDATA[<=]]> DATE_FORMAT(#{endDate}, '%Y-%m-%d')
            </if>
        </where>
        group by DATE_FORMAT(create_time,'%Y-%m-%d') order by DATE_FORMAT(create_time,'%Y-%m-%d')
    </select>

    <select id="findHomePageBelowDeliveryCount" parameterType="com.deer.wms.bill.manage.model.MtAloneHomePageCriteria"  resultType="com.deer.wms.bill.manage.model.MtAloneAriAndDelVo">
        SELECT DATE_FORMAT(t0.product_det_deliverytime,'%Y-%m-%d') AS DATE, SUM(t0.delivery_length) AS  milesSum
        FROM mt_alone_flowrecord t0 LEFT JOIN mt_alone_product t1 ON t0.product_barcode = t1.product_bar_code
        <where>
            t0.flowcode_state=1
            <if test="productTypeCode != null and productTypeCode != ''">
                and product_type_code =  #{productTypeCode}
            </if>

            <if test="begDate != null">
                and DATE_FORMAT(t0.product_det_deliverytime,'%Y-%m-%d') <![CDATA[>=]]> DATE_FORMAT(#{begDate}, '%Y-%m-%d')
            </if>
            <if test="endDate != null">
                and DATE_FORMAT(t0.product_det_deliverytime,'%Y-%m-%d') <![CDATA[<=]]> DATE_FORMAT(#{endDate}, '%Y-%m-%d')
            </if>

            <!--
            <if test="begDate != null and endDate != null">
                and DATE_FORMAT(t0.product_det_deliverytime,'%Y-%m-%d') between DATE_FORMAT(#{begDate}, '%Y-%m-%d') and DATE_FORMAT(#{endDate}, '%Y-%m-%d')
            </if>
            -->
            GROUP BY DATE_FORMAT(t0.product_det_deliverytime,'%Y-%m-%d') ORDER BY DATE_FORMAT(t0.product_det_deliverytime,'%Y-%m-%d')
        </where>
    </select>

    <select id="findHomePageBelowArrivalCountNew" parameterType="com.deer.wms.bill.manage.model.MtAloneHomePageParams"  resultType="com.deer.wms.bill.manage.model.MtAloneAriAndDelVo">
        select DATE_FORMAT(detect.create_time,'%Y-%m-%d') as date, sum(IFNULL(detect.detect_length,0)) as milesSum from mt_alone_product product
        inner join mt_alone_detect_det detect on product.product_bar_code = detect.product_barcode and product.company_id = detect.company_id
            <where>
                product.state = 'normal'
                <if test="productTypeCode != null and productTypeCode != ''">
                    and product.product_type_code =  #{productTypeCode}
                </if>
                <if test="begDate != null">
                    and DATE_FORMAT(detect.create_time,'%Y-%m-%d') <![CDATA[>=]]> DATE_FORMAT(#{begDate}, '%Y-%m-%d')
                </if>
                <if test="endDate != null">
                    and DATE_FORMAT(detect.create_time,'%Y-%m-%d') <![CDATA[<=]]> DATE_FORMAT(#{endDate}, '%Y-%m-%d')
                </if>
                <if test="companyId != null">
                    and detect.company_id =#{companyId}
                </if>
            </where>
            group by DATE_FORMAT(detect.create_time,'%Y-%m-%d') order by DATE_FORMAT(detect.create_time,'%Y-%m-%d')
    </select>

    <select id="findHomePageBelowDeliveryCountNew" parameterType="com.deer.wms.bill.manage.model.MtAloneHomePageParams"  resultType="com.deer.wms.bill.manage.model.MtAloneAriAndDelVo">
        SELECT DATE_FORMAT(delivery.create_time,'%Y-%m-%d') AS DATE, sum(IFNULL(delivery.delivery_length,0)) AS milesSum FROM mt_alone_product product
        inner join mt_alone_delivery_det delivery ON product.product_bar_code = delivery.product_barcode and product.company_id = delivery.company_id
        <where>
            delivery.state = 'normal' and product.state = 'normal'
            <if test="productTypeCode != null and productTypeCode != ''">
                and product.product_type_code =  #{productTypeCode}
            </if>

            <if test="begDate != null">
                and DATE_FORMAT(delivery.create_time,'%Y-%m-%d') <![CDATA[>=]]> DATE_FORMAT(#{begDate}, '%Y-%m-%d')
            </if>
            <if test="endDate != null">
                and DATE_FORMAT(delivery.create_time,'%Y-%m-%d') <![CDATA[<=]]> DATE_FORMAT(#{endDate}, '%Y-%m-%d')
            </if>
            <if test="companyId != null">
                and delivery.company_id =#{companyId}
            </if>
        </where>
        group by DATE_FORMAT(delivery.create_time,'%Y-%m-%d') ORDER BY DATE_FORMAT(delivery.create_time,'%Y-%m-%d')
    </select>

    <!--resultMap id="DetExaminationMap" type="com.deer.wms.bill.manage.model.MtAloneExaminationDetails">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="addTime" jdbcType="TIMESTAMP" property="addtime" />
        <result column="deleteStatus" jdbcType="INTEGER" property="deletestatus" />
        <result column="product_det_barcode" jdbcType="VARCHAR" property="productDetBarcode" />
        <result column="warehouse_barcode" jdbcType="VARCHAR" property="warehouseBarcode" />
        <result column="position" jdbcType="VARCHAR" property="position" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <result column="note" jdbcType="VARCHAR" property="note" />
        <result column="fabric_id" jdbcType="INTEGER" property="fabricId" />
    </resultMap>


    <select id="findDetExaminationDetails" parameterType="java.lang.String" resultMap="DetExaminationMap">
        select * from mt_alone_examination_details
        where 1=1
        <if test="productCode != null and productCode != ''">
            AND warehouse_barcode=#{productCode}
        </if>
    </select-->

    <resultMap id="DetExaminationMap" type="com.deer.wms.bill.manage.model.MtAloneDetFabsListVO">

        <id column="product_det_id" jdbcType="INTEGER" property="productDetId" />
        <result column="product_det_code" jdbcType="VARCHAR" property="productDetCode" />
        <result column="product_det_index" jdbcType="INTEGER" property="productDetIndex" />
        <result column="product_id" jdbcType="INTEGER" property="productId" />
        <result column="product_det_length" jdbcType="REAL" property="productDetLength" />
        <result column="product_det_remain_length" jdbcType="REAL" property="productDetRemainLength" />
        <result column="cell_code" jdbcType="VARCHAR" property="cellCode" />
        <result column="product_det_state" jdbcType="INTEGER" property="productDetState" />
        <result column="volume_num" jdbcType="VARCHAR" property="volumeNum" />
        <result column="color_code" jdbcType="VARCHAR" property="colorCode" />
        <result column="dyelot_num" jdbcType="VARCHAR" property="dyelotNum" />
        <result column="product_det_barcode" jdbcType="VARCHAR" property="productDetBarcode" />
        <result column="warehouse_barcode" jdbcType="VARCHAR" property="warehouseBarcode" />
        <result column="detection_barcode" jdbcType="VARCHAR" property="detectionBarcode" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <result column="note" jdbcType="VARCHAR" property="note" />
        <result column="weight" jdbcType="REAL" property="weight" />
        <result column="flaw_info" jdbcType="VARCHAR" property="flawInfo" />
        <result column="product_level" jdbcType="VARCHAR" property="productLevel" />
        <result column="salable_product_length" jdbcType="REAL" property="salableProductLength" />
        <result column="salable_code_length" jdbcType="REAL" property="salableCodeLength" />
        <result column="is_detection" jdbcType="INTEGER" property="isDetection" />
        <result column="detection_man_id" jdbcType="INTEGER" property="detectionManId" />
        <result column="detection_machine_id" jdbcType="INTEGER" property="detectionMachineId" />
        <result column="warehouse_entry_time" jdbcType="TIMESTAMP" property="warehouseEntryTime" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
        <result column="delivery_state" jdbcType="INTEGER" property="deliveryState" />
        <result column="return_state" jdbcType="INTEGER" property="returnState" />
        <result column="detection_time" jdbcType="TIMESTAMP" property="detectionTime" />
        <result column="color_name" jdbcType="VARCHAR" property="colorName" />
        <result column="rgb_hex" jdbcType="VARCHAR" property="rgbHex" />
        <result column="is_complete_out" jdbcType="INTEGER" property="isCompleteOut" />
        <result column="state" jdbcType="VARCHAR" property="state" />
        <result column="company_id" jdbcType="INTEGER" property="companyId" />

        <result column="detNum" jdbcType="INTEGER" property="total" />
        <result column="product_name" jdbcType="VARCHAR" property="productName" />
        <result column="product_code" jdbcType="VARCHAR" property="productCode" />
        <result column="item_code" jdbcType="VARCHAR" property="itemCode" />
        <result column="supplier_name" jdbcType="VARCHAR" property="supplierName" />
        <result column="cell_alias" jdbcType="VARCHAR" property="cellAlias" />
        <!--一个明细对应多条瑕疵-->
              <collection property="fabricList" ofType="com.deer.wms.bill.manage.model.MtAloneExaminationDetails">
                  <id column="id" jdbcType="INTEGER" property="id" />
                  <result column="addTime" jdbcType="TIMESTAMP" property="addtime" />
                  <result column="deleteStatus" jdbcType="INTEGER" property="deletestatus" />
                  <!--result column="product_det_barcode" jdbcType="VARCHAR" property="productDetBarcode" />
                  <result column="warehouse_barcode" jdbcType="VARCHAR" property="warehouseBarcode" /-->
                  <result column="position" jdbcType="VARCHAR" property="position" />
                  <result column="description" jdbcType="VARCHAR" property="description" />
                  <result column="note" jdbcType="VARCHAR" property="note" />
                  <result column="fabric_id" jdbcType="INTEGER" property="fabricId" />
              </collection>
    </resultMap>

    <select id="findDetExaminationDetails" parameterType="com.deer.wms.bill.manage.model.MtAloneProductDetParams" resultMap="DetExaminationMap">
        SELECT
        (SELECT COUNT(*) FROM mt_alone_product_det)AS detNum,
        pro.product_name ,
        pro.product_code ,
        pro.dyelot_num ,
        pro.color_name ,
        pro.item_code,
        sup.supplier_name,
        cell.cell_alias,
        fab.*,
        det.*

        FROM (SELECT *FROM mt_alone_product_det det ORDER BY det.create_time DESC
        LIMIT 0,10) det
        LEFT JOIN mt_alone_product pro
        ON pro.product_bar_code=det.warehouse_barcode
        LEFT JOIN supplier_manage sup
        ON sup.supplier_code=pro.supplier_code
        LEFT JOIN cell_info cell
        ON cell.cell_code=det.cell_code
        LEFT JOIN mt_alone_examination_details fab
        ON fab.product_det_barcode=det.product_det_barcode
        WHERE 1=1
        <if test="productBarCode != null and productBarCode != ''">
            AND det.warehouse_barcode=#{productBarCode}
        </if>
        <if test="companyId != null">
            and det.company_id =#{companyId}
        </if>
        order by  det.create_time desc
    </select>

    <resultMap id="DetWithoutFabsMap" type="com.deer.wms.bill.manage.model.MtAloneDetFabsListVO" extends="BaseResultMap">
        <result column="product_name" jdbcType="VARCHAR" property="productName" />
        <result column="product_code" jdbcType="VARCHAR" property="productCode" />
        <result column="cell_alias" jdbcType="VARCHAR" property="cellAlias" />
        <result column="item_code" jdbcType="VARCHAR" property="itemCode" />
        <result column="supplier_name" jdbcType="VARCHAR" property="supplierName" />
        <result column="detNum" jdbcType="INTEGER" property="total" />
    </resultMap>

    <select id="findDetsWithoutFabs" parameterType="com.deer.wms.bill.manage.model.MtAloneProductDetParams" resultMap="DetExaminationMap">
        SELECT
        (SELECT COUNT(*) FROM mt_alone_product_det)AS detNum,
        pro.product_name ,
        pro.product_code ,
        pro.dyelot_num ,
        pro.color_name ,
        pro.item_code,
        sup.supplier_name,
        cell.cell_alias,
        det.*

        FROM (SELECT *FROM mt_alone_product_det det ORDER BY det.create_time DESC
        LIMIT 0,10) det
        LEFT JOIN mt_alone_product pro
        ON pro.product_bar_code=det.warehouse_barcode
        LEFT JOIN supplier_manage sup
        ON pro.supplier_code = sup.supplier_code
        LEFT JOIN cell_info cell
        ON cell.cell_code=det.cell_code
        WHERE 1=1
        <if test="productBarCode != null and productBarCode != ''">
            AND det.warehouse_barcode=#{productBarCode}
        </if>
        <if test="companyId != null">
            and det.company_id =#{companyId}
        </if>
        order by  det.create_time desc

    </select>


</mapper>