<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deer.wms.bill.manage.dao.MtAloneAuditNodeOpinionTabMapper">
  <resultMap id="BaseResultMap" type="com.deer.wms.bill.manage.model.MtAloneAuditNodeOpinionTab">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="operator_id" jdbcType="INTEGER" property="operatorId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="version" jdbcType="VARCHAR" property="version" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="audit_task_id" jdbcType="INTEGER" property="auditTaskId" />
    <result column="node_id" jdbcType="INTEGER" property="nodeId" />
    <result column="group_id" jdbcType="INTEGER" property="groupId" />
    <result column="reviewer_id" jdbcType="INTEGER" property="reviewerId" />
    <result column="is_audit" jdbcType="INTEGER" property="isAudit" />
    <result column="audit_time" jdbcType="TIMESTAMP" property="auditTime" />
    <result column="is_agree" jdbcType="INTEGER" property="isAgree" />
    <result column="audit_opinion" jdbcType="VARCHAR" property="auditOpinion" />
    <result column="audit_node_name" jdbcType="VARCHAR" property="auditNodeName" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="company_id" jdbcType="INTEGER" property="companyId" />
  </resultMap>

  <select id="findList" parameterType="com.deer.wms.bill.manage.model.MtAloneAuditNodeOpinionTabParams" resultMap="BaseResultMap">
    select * from mt_alone_audit_node_opinion_tab  tab
    where 1=1
    <if test="auditTaskId != null">
      and tab.audit_task_id=#{auditTaskId}
    </if>
    order by tab.audit_time desc
  </select>
</mapper>