<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deer.wms.bill.manage.dao.MtAloneInboundOrderMapper">
  <resultMap id="BaseResultMap" type="com.deer.wms.bill.manage.model.MtAloneInboundOrder">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="operator_id" jdbcType="INTEGER" property="operatorId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="creator_id" jdbcType="BIGINT" property="creatorId" />
    <result column="updater_id" jdbcType="BIGINT" property="updaterId" />
    <result column="version" jdbcType="VARCHAR" property="version" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="inbound_order_code" jdbcType="VARCHAR" property="inboundOrderCode" />
    <result column="department_id" jdbcType="INTEGER" property="departmentId" />
    <result column="inbound_type" jdbcType="VARCHAR" property="inboundType" />
    <result column="processor_id" jdbcType="INTEGER" property="processorId" />
    <result column="processor_name" jdbcType="VARCHAR" property="processorName" />
    <result column="order_code" jdbcType="VARCHAR" property="orderCode" />
    <result column="audit_task_id" jdbcType="INTEGER" property="auditTaskId" />
    <result column="is_audit_task" jdbcType="INTEGER" property="isAuditTask" />
    <result column="reviewe_state" jdbcType="INTEGER" property="revieweState" />
    <result column="operator_name" jdbcType="VARCHAR" property="operatorName" />
    <result column="buyer_id" jdbcType="INTEGER" property="buyerId" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="company_id" jdbcType="INTEGER" property="companyId" />
  </resultMap>
</mapper>