<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deer.wms.bill.manage.dao.MtAloneDeliveryOrderMapper">
  <resultMap id="BaseResultMap" type="com.deer.wms.bill.manage.model.MtAloneDeliveryOrder">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="delivery_order_id" jdbcType="INTEGER" property="deliveryOrderId" />
    <result column="delivery_order_code" jdbcType="VARCHAR" property="deliveryOrderCode" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="product_bar_code" jdbcType="VARCHAR" property="productBarCode" />
    <result column="product_length" jdbcType="REAL" property="productLength" />
    <result column="product_price" jdbcType="REAL" property="productPrice" />
    <result column="delivery_time" jdbcType="TIMESTAMP" property="deliveryTime" />
    <result column="client_name" jdbcType="VARCHAR" property="clientName" />
    <result column="client_address" jdbcType="VARCHAR" property="clientAddress" />
    <result column="is_selfhelp_taking" jdbcType="INTEGER" property="isSelfhelpTaking" />
    <result column="express_company_name" jdbcType="VARCHAR" property="expressCompanyName" />
    <result column="tracking_number" jdbcType="VARCHAR" property="trackingNumber" />
    <result column="express_fee" jdbcType="REAL" property="expressFee" />
    <result column="express_type" jdbcType="INTEGER" property="expressType" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="linkman_name" jdbcType="VARCHAR" property="linkmanName" />
    <result column="linkman_phone_number" jdbcType="VARCHAR" property="linkmanPhoneNumber" />
    <result column="reviewe_state" jdbcType="INTEGER" property="revieweState" />
    <result column="operator_name" jdbcType="VARCHAR" property="operatorName" />
    <result column="operator_code" jdbcType="VARCHAR" property="operatorCode" />
    <result column="delivery_state" jdbcType="INTEGER" property="deliveryState" />
    <result column="company_id" jdbcType="INTEGER" property="companyId" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="salesperson_id" jdbcType="INTEGER" property="salespersonId" />
    <result column="salesperson_name" jdbcType="VARCHAR" property="salespersonName" />
  </resultMap>
  
   <resultMap id="DeliveryCombinationMap" type="com.deer.wms.bill.manage.model.MtAloneDeliveryOrderVO" extends="BaseResultMap">
     <result column="delivery_length" jdbcType="REAL" property="deliveryLength" />
     <result column="salesperson" jdbcType="VARCHAR" property="salesperson" />
  </resultMap>
  
     <select id="findList" parameterType="com.deer.wms.bill.manage.model.MtAloneDeliveryOrderCriteria" resultMap="BaseResultMap">
      select   *
      from mt_alone_delivery_order
      order by delivery_time DESC
     </select>
     
      <select id="findListNew" parameterType="com.deer.wms.bill.manage.model.MtAloneDeliveryOrderParams" resultMap="DeliveryCombinationMap">
      SELECT   deli.*,u.user_name AS salesperson,tmp1.deliverylength AS delivery_length
      FROM mt_alone_delivery_order deli
      LEFT JOIN mt_alone_product pro 
      ON pro.product_bar_code= deli.product_bar_code
      LEFT JOIN (SELECT delivery_det.`delivery_order_code` AS ordercode,SUM(delivery_det.`delivery_length`)AS deliverylength FROM mt_alone_delivery_det delivery_det GROUP BY delivery_det.`delivery_order_code`) tmp1
      ON tmp1.ordercode=deli.`delivery_order_code`
          LEFT JOIN user_info u
          ON u.user_id= deli.salesperson_id
      WHERE deli.state='normal'
      <if test="keywords != null and keywords != ''">
        AND (
        deli.product_name LIKE CONCAT('%', #{keywords}, '%')
        OR deli.delivery_order_code LIKE CONCAT('%', #{keywords}, '%')
        OR deli.client_name LIKE CONCAT('%', #{keywords}, '%')
        )
      </if>
      <if test="productTypeCode != null and productTypeCode != ''">
        AND pro.product_type_code= #{productTypeCode}
      </if>
      <if test="companyId != null">
        AND deli.company_id = #{companyId}
      </if>   
      <if test="begDate!=null and begDate!=''">
      <![CDATA[   and DATE_FORMAT(deli.delivery_time, '%Y-%m-%d')>=  DATE_FORMAT(#{begDate}, '%Y-%m-%d')   ]]>
      </if>
      <if test="endDate!=null and endDate!=''">
      <![CDATA[  and DATE_FORMAT(deli.delivery_time, '%Y-%m-%d') <= DATE_FORMAT(#{endDate}, '%Y-%m-%d')    ]]>
      </if>
        ORDER BY deli.delivery_time desc
     </select>
     
      <select id="findListBykeyAndDate" parameterType="com.deer.wms.bill.manage.model.MtAloneDeliveryOrderCriteria" resultMap="BaseResultMap">
      select   *
      from mt_alone_delivery_order 
      where 1=1
      <if test="keyWord!=null and keyWord!=''">
       and client_name LIKE CONCAT('%', #{keyWord}, '%')
      </if>     
      <if test="begDate!=null and begDate!=''">
      <![CDATA[   and DATE_FORMAT(delivery_time, '%Y-%m-%d')>=  DATE_FORMAT(#{begDate}, '%Y-%m-%d')   ]]>
      </if>
      <if test="endDate!=null and endDate!=''">
      <![CDATA[  and DATE_FORMAT(delivery_time, '%Y-%m-%d') <= DATE_FORMAT(#{endDate}, '%Y-%m-%d')    ]]>
      </if>
      order by  delivery_time DESC
      </select>
      
    <resultMap id="DeliveryDetResultMap" type="com.deer.wms.bill.manage.model.MtAloneDeliveryDetListVO">
        <id column="delivery_length" jdbcType="FLOAT" property="deliveryLength" />
        <result column="delivery_barcode" jdbcType="VARCHAR" property="deliveryBarcode" />
        <result column="product_det_length" jdbcType="FLOAT" property="productDetLength" />
        <result column="cell_code" jdbcType="VARCHAR" property="cellCode" />
        <result column="cell_alias" jdbcType="VARCHAR" property="cellAlias" />
        <result column="item_code" jdbcType="VARCHAR" property="itemCode" />
        <result column="product_name" jdbcType="VARCHAR" property="productName" />
        <result column="specification" jdbcType="VARCHAR" property="specification" />
        <result column="operator_name" jdbcType="VARCHAR" property="operatorName" />
    </resultMap>
  
      <select id="findDeliveryOrderDetList" parameterType="com.deer.wms.bill.manage.model.MtAloneDeliveryOrderCriteria" resultMap="DeliveryDetResultMap">
		SELECT deldet.*,
		pro.product_name,pro.product_code,
		pro.item_code,pro.specification,
		det.cell_code,det.detect_length
		FROM mt_alone_delivery_det deldet
		LEFT JOIN mt_alone_product pro ON deldet.`product_barcode`=pro.`product_bar_code`
		LEFT JOIN mt_alone_product_det det ON deldet.`product_det_barcode`=det.`product_det_barcode`
		WHERE 1=1
      <if test="deliveryOrderCode!=null and deliveryOrderCode!=''">
        deldet.delivery_order_code=#{deliveryOrderCode}
      </if>    
      </select> 
      
    <resultMap id="detListByOrderResultMap" type="com.deer.wms.bill.manage.model.MtAloneProductDetVO">
    <id column="product_det_id" jdbcType="INTEGER" property="productDetId" />
    <result column="product_det_code" jdbcType="VARCHAR" property="productDetCode" />
    <result column="product_det_index" jdbcType="INTEGER" property="productDetIndex" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="product_det_length" jdbcType="REAL" property="productDetLength" />
    <result column="product_det_remain_length" jdbcType="REAL" property="productDetRemainLength" />
    <result column="cell_code" jdbcType="VARCHAR" property="cellCode" />
    <result column="cell_alias" jdbcType="VARCHAR" property="cellAlias" />
    <result column="product_det_state" jdbcType="INTEGER" property="productDetState" />
    <result column="volume_num" jdbcType="VARCHAR" property="volumeNum" />
    <result column="color_code" jdbcType="VARCHAR" property="colorCode" />
    <result column="dyelot_num" jdbcType="VARCHAR" property="dyelotNum" />
    <result column="product_det_barcode" jdbcType="VARCHAR" property="productDetBarcode" />
    <result column="warehouse_barcode" jdbcType="VARCHAR" property="warehouseBarcode" />
    <result column="detection_barcode" jdbcType="VARCHAR" property="detectionBarcode" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="weight" jdbcType="REAL" property="weight" />
    <result column="flaw_info" jdbcType="VARCHAR" property="flawInfo" />
    <result column="product_level" jdbcType="VARCHAR" property="productLevel" />
    <result column="salable_product_length" jdbcType="REAL" property="salableProductLength" />
    <result column="salable_code_length" jdbcType="REAL" property="salableCodeLength" />
    <result column="is_detection" jdbcType="INTEGER" property="isDetection" />
    <result column="detection_man_id" jdbcType="INTEGER" property="detectionManId" />
    <result column="detection_machine_id" jdbcType="INTEGER" property="detectionMachineId" />
    <result column="warehouse_entry_time" jdbcType="TIMESTAMP" property="warehouseEntryTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="delivery_state" jdbcType="INTEGER" property="deliveryState" />
    <result column="return_state" jdbcType="INTEGER" property="returnState" />
    <result column="detection_time" jdbcType="TIMESTAMP" property="detectionTime" />
    <result column="color_name" jdbcType="VARCHAR" property="colorName" />
    <result column="rgb_hex" jdbcType="VARCHAR" property="rgbHex" />
    <result column="delivery_length" jdbcType="REAL" property="deliveryLength" />
    </resultMap>
      
  <select id="findDetListByOrder" parameterType="com.deer.wms.bill.manage.model.MtAloneDeliveryOrderCriteria" resultMap="detListByOrderResultMap">
      SELECT
      productDet.*,
      t0.delivery_length
      FROM mt_alone_product_det productDet,mt_alone_delivery_det t0
      WHERE 1=1
      <if test="deliveryOrderCode!=null and deliveryOrderCode!=''">
      AND  productDet.`product_det_barcode`=t0.`product_det_barcode`
      AND t0.`delivery_order_code`=#{deliveryOrderCode}
      </if>  
  </select>  
      
      

      
</mapper>