<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deer.wms.bill.manage.dao.MtAloneAuditRelatMbMapper">
  <resultMap id="BaseResultMap" type="com.deer.wms.bill.manage.model.MtAloneAuditRelatMb">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="operator_id" jdbcType="INTEGER" property="operatorId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="version" jdbcType="VARCHAR" property="version" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="audit_task_MB_id" jdbcType="INTEGER" property="auditTaskMbId" />
    <result column="node_order" jdbcType="INTEGER" property="nodeOrder" />
    <result column="prev_node_id" jdbcType="INTEGER" property="prevNodeId" />
    <result column="next_node_id" jdbcType="INTEGER" property="nextNodeId" />
    <result column="group_id" jdbcType="INTEGER" property="groupId" />
    <result column="audit_node_name" jdbcType="VARCHAR" property="auditNodeName" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="company_id" jdbcType="INTEGER" property="companyId" />
  </resultMap>
</mapper>