<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deer.wms.produce.manage.dao.MachiningProductMapper">
  <resultMap id="BaseResultMap" type="com.deer.wms.produce.manage.model.MachiningProduct">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="operator_id" jdbcType="INTEGER" property="operatorId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="version" jdbcType="VARCHAR" property="version" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="product_code" jdbcType="VARCHAR" property="productCode" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="product_type_code" jdbcType="VARCHAR" property="productTypeCode" />
    <result column="product_variety_code" jdbcType="VARCHAR" property="productVarietyCode" />
    <result column="shell_fabric" jdbcType="VARCHAR" property="shellFabric" />
    <result column="tissue" jdbcType="VARCHAR" property="tissue" />
    <result column="larghezza" jdbcType="REAL" property="larghezza" />
    <result column="grammage" jdbcType="REAL" property="grammage" />
    <result column="density" jdbcType="VARCHAR" property="density" />
    <result column="specification" jdbcType="VARCHAR" property="specification" />
    <result column="processing_mode" jdbcType="VARCHAR" property="processingMode" />
    <result column="product_bar_code" jdbcType="VARCHAR" property="productBarCode" />
    <result column="specimen_bar_code" jdbcType="VARCHAR" property="specimenBarCode" />
    <result column="cloth_attr" jdbcType="INTEGER" property="clothAttr" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="company_id" jdbcType="INTEGER" property="companyId" />
  </resultMap>

  <select id="findList" parameterType="com.deer.wms.produce.manage.model.MachiningProductParams" resultMap="BaseResultMap">
    SELECT mappb.*,mamp.*,MAX(process_step)
    FROM mt_alone_process_bom mapb
    LEFT JOIN mt_alone_product_process_bom mappb ON mapb.product_process_id = mappb.id
    LEFT JOIN mt_alone_machining_product mamp ON mappb.product_id = mamp.id
    <where>
      <if test="productCode != null and productCode != ''">
        AND mamp.product_code = #{productCode}
      </if>
      <if test="productName != null and productName != ''">
        AND mamp.product_name = #{productName}
      </if>
      <if test="specification != null and specification != ''">
        AND mamp.specification = #{specification}
      </if>
      <if test="companyId != null">
        AND mapb.company_id = #{companyId}
      </if>
    </where>
  </select>

  <select id="findProductList" parameterType="com.deer.wms.produce.manage.model.MachiningProductParams" resultMap="BaseResultMap">
      SELECT product.*
      FROM  mt_alone_machining_product product
      <where>
          <if test="companyId != null">
              AND product.company_id = #{companyId}
          </if>
      </where>
  </select>

    <select id="findProductHaveBomList" parameterType="com.deer.wms.produce.manage.model.MachiningProductParams" resultMap="BaseResultMap">
        SELECT product.*
        FROM  mt_alone_machining_product product
        RIGHT JOIN mt_alone_product_process_bom probom ON product.id = probom.product_id
        <where>
            <if test="companyId != null">
                AND product.company_id = #{companyId}
            </if>
        </where>
    </select>


</mapper>