<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deer.wms.produce.manage.dao.MaterialsOutgoingLogMapper">
  <resultMap id="BaseResultMap" type="com.deer.wms.produce.manage.model.MaterialsOutgoingLog">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="operator_id" jdbcType="INTEGER" property="operatorId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="version" jdbcType="VARCHAR" property="version" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="materials_id" jdbcType="INTEGER" property="materialsId" />
    <result column="materials_name" jdbcType="VARCHAR" property="materialsName" />
    <result column="quantity" jdbcType="REAL" property="quantity" />
    <result column="position_name" jdbcType="VARCHAR" property="positionName" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="company_id" jdbcType="INTEGER" property="companyId" />
  </resultMap>

    <resultMap id="MatOutVOResultMap" type="com.deer.wms.produce.manage.model.MaterialsOutgoingLogVO">
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="materials_name" jdbcType="VARCHAR" property="materialsName" />
        <result column="position_name" jdbcType="VARCHAR" property="positionName" />
        <result column="user_name" jdbcType="VARCHAR" property="userName" />
    </resultMap>

    <select id="findListByOneMaterial" parameterType="com.deer.wms.produce.manage.model.MaterialsOutgoingLogParams"  resultMap="MatOutVOResultMap">
        SELECT
        outgoing.create_time,
        IFNULL(outgoing.quantity,0) quantity,
        outgoing.position_name,
        user_info.user_name
        FROM mt_alone_materials_outgoing_log outgoing
        LEFT JOIN user_info ON outgoing.operator_id = user_info.user_id AND outgoing.company_id = user_info.company_id
        <where>
            <if test="materialsId != null">
                AND outgoing.materials_id = #{materialsId}
            </if>
            <if test="type != null">
                AND outgoing.type = #{type}
            </if>
            <if test="companyId != null">
                AND outgoing.company_id = #{companyId}
            </if>
        </where>
    </select>
</mapper>