<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deer.wms.produce.manage.dao.MtAloneProcessMapper">
  <resultMap id="BaseResultMap" type="com.deer.wms.produce.manage.model.MtAloneProcess">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="operator_id" jdbcType="INTEGER" property="operatorId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="process_name" jdbcType="VARCHAR" property="processName" />
    <result column="product_process_id" jdbcType="INTEGER" property="productProcessId" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="specification" jdbcType="VARCHAR" property="specification" />
    <result column="process_source" jdbcType="INTEGER" property="processSource" />
    <result column="process_price" jdbcType="REAL" property="processPrice" />
    <result column="process_unit_price" jdbcType="REAL" property="processUnitPrice" />
    <result column="original_len" jdbcType="REAL" property="originalLen" />
    <result column="loss" jdbcType="REAL" property="loss" />
    <result column="after_len" jdbcType="REAL" property="afterLen" />
    <result column="shrinkage" jdbcType="VARCHAR" property="shrinkage" />
    <result column="process_content" jdbcType="VARCHAR" property="processContent" />
    <result column="supplier_id" jdbcType="INTEGER" property="supplierId" />
    <result column="process_step" jdbcType="INTEGER" property="processStep" />
    <result column="merchandiser_id" jdbcType="INTEGER" property="merchandiserId" />
    <result column="product_bar_code" jdbcType="VARCHAR" property="productBarCode" />
    <result column="process_bom_id" jdbcType="INTEGER" property="processBomId" />
    <result column="process_bom_name" jdbcType="VARCHAR" property="processBomName" />
    <result column="product_annex_code" jdbcType="VARCHAR" property="productAnnexCode" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="company_id" jdbcType="INTEGER" property="companyId" />
  </resultMap>
</mapper>