<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deer.wms.produce.manage.dao.MtAloneStockProductMapper">
  <resultMap id="BaseResultMap" type="com.deer.wms.produce.manage.model.MtAloneStockProduct">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="operator_id" jdbcType="INTEGER" property="operatorId" />
    <result column="quality" jdbcType="VARCHAR" property="quality"/>
    <result column="quality_grade" jdbcType="VARCHAR" property="qualityGrade"/>
    <result column="first_large_class" jdbcType="VARCHAR" property="firstLargeClass" />
    <result column="stock_product" jdbcType="VARCHAR" property="stockProduct" />
    <result column="sort" jdbcType="VARCHAR" property="sort" />
    <result column="facture_inventory" jdbcType="VARCHAR" property="factureInventory" />
    <result column="cost_price" jdbcType="VARCHAR" property="costPrice" />
    <result column="market_price" jdbcType="VARCHAR" property="marketPrice" />
    <result column="dominant" jdbcType="VARCHAR" property="dominant" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="creator_id" jdbcType="INTEGER" property="creatorId" />
    <result column="updater_id" jdbcType="INTEGER" property="updaterId" />
    <result column="version" jdbcType="VARCHAR" property="version" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="company_id" jdbcType="INTEGER" property="companyId" />
    <result column="supplier_id" jdbcType="INTEGER" property="supplierId" />
    <result column="supplier_codename" jdbcType="VARCHAR" property="supplierCodename" />
    <result column="supplier_name" jdbcType="VARCHAR" property="supplierName" />
    <result column="supplier_phone" jdbcType="VARCHAR" property="supplierPhone" />
    <result column="supplier_contacts" jdbcType="VARCHAR" property="supplierContacts" />
    <result column="product_code" jdbcType="VARCHAR" property="productCode" />
    <result column="item_code" jdbcType="VARCHAR" property="itemCode" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="product_cha_name" jdbcType="VARCHAR" property="productChaName" />
    <result column="product_type_id" jdbcType="INTEGER" property="productTypeId" />
    <result column="product_variety_id" jdbcType="INTEGER" property="productVarietyId" />
    <result column="color_code" jdbcType="VARCHAR" property="colorCode" />
    <result column="shell_fabric" jdbcType="VARCHAR" property="shellFabric" />
    <result column="tissue" jdbcType="VARCHAR" property="tissue" />
    <result column="ware_num" jdbcType="VARCHAR" property="wareNum" />
    <result column="unit_code" jdbcType="VARCHAR" property="unitCode" />
    <result column="supplier_num" jdbcType="VARCHAR" property="supplierNum" />
    <result column="price" jdbcType="VARCHAR" property="price" />
    <result column="sales_price" jdbcType="VARCHAR" property="salesPrice" />
    <result column="larghezza" jdbcType="VARCHAR" property="larghezza" />
    <result column="grammage" jdbcType="VARCHAR" property="grammage" />
    <result column="density" jdbcType="VARCHAR" property="density" />
    <result column="specification" jdbcType="VARCHAR" property="specification" />
    <result column="processing_mode" jdbcType="VARCHAR" property="processingMode" />
    <result column="developer" jdbcType="VARCHAR" property="developer" />
    <result column="purchaser_id" jdbcType="INTEGER" property="purchaserId" />
    <result column="purchaser_name" jdbcType="VARCHAR" property="purchaserName" />
    <result column="seller_id" jdbcType="INTEGER" property="sellerId" />
    <result column="seller_name" jdbcType="VARCHAR" property="sellerName" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="is_spot" jdbcType="INTEGER" property="isSpot" />
    <result column="is_billing" jdbcType="INTEGER" property="isBilling" />
  </resultMap>
  <select id="findList" parameterType="com.deer.wms.produce.manage.model.MtAloneStockProductParams" resultMap="BaseResultMap">
    SELECT *
    FROM mt_alone_stock_product masp
    LEFT JOIN item_type it ON masp.product_type_id = it.item_type_id
    <where>
      <if test="keywords != null and keywords != ''">
        (
          masp.product_code LIKE CONCAT('%', #{keywords}, '%')
          OR masp.product_name LIKE CONCAT('%', #{keywords}, '%')
          OR masp.supplier_name LIKE CONCAT('%', #{keywords}, '%')
        )
      </if>
      <if test="productCode != null and productCode != ''">
          AND masp.product_code = #{productCode}
      </if>
      <if test="productName != null and productName != ''">
          AND masp.product_name = #{productName}
      </if>
      <if test="sort != null and sort !=''">
        AND masp.sort= #{sort}
      </if>
      <if test="firstLargeClass != null and firstLargeClass != ''">
        AND masp.first_large_class = #{firstLargeClass}
      </if>
      <if test="specification != null and specification != ''">
        AND masp.specification = #{specification}
      </if>
      <if test="density != null and density != ''">
        AND masp.density = #{density}
      </if>
      <if test="grammage != null and grammage != ''">
        AND masp.grammage = #{grammage}
      </if>
      <if test="salesPrice != null and salesPrice != ''">
        AND masp.sales_price LIKE CONCAT('%', #{salesPrice}, '%')
      </if>
      <if test="begDate!=null and begDate!=''">
        <![CDATA[  AND DATE_FORMAT(masp.create_time, '%Y-%m-%d')>=  DATE_FORMAT(#{begDate}, '%Y-%m-%d')   ]]>
      </if>
      <if test="endDate!=null and endDate!=''">
        <![CDATA[  AND DATE_FORMAT(masp.create_time, '%Y-%m-%d') <= DATE_FORMAT(#{endDate}, '%Y-%m-%d')    ]]>
      </if>
      <if test="companyId != null">
        AND masp.company_id = #{companyId}
      </if>
    </where>
    ORDER BY masp.create_time desc
  </select>

  <select id="findListPart" parameterType="com.deer.wms.produce.manage.model.MtAloneStockProductParams" resultMap="BaseResultMap">
    SELECT
    masp.id,masp.create_time,masp.quality,masp.first_large_class,masp.stock_product,masp.sort,masp.facture_inventory,masp.cost_price,masp.market_price,masp.dominant,masp.update_time,masp.version,masp.status,masp.supplier_codename,masp.product_code,masp.item_code,masp.product_name,masp.product_cha_name,masp.product_type_id,masp.product_variety_id,masp.color_code,masp.shell_fabric,masp.tissue,masp.ware_num,masp.unit_code,masp.supplier_num,masp.price,masp.sales_price,masp.larghezza,masp.grammage,masp.density,masp.specification,masp.processing_mode,masp.description,masp.remark
    FROM mt_alone_stock_product masp
    LEFT JOIN item_type it ON masp.product_type_id = it.item_type_id
    <where>
      <if test="keywords != null and keywords != ''">
        (
          masp.product_code LIKE CONCAT('%', #{keywords}, '%')
          OR masp.product_name LIKE CONCAT('%', #{keywords}, '%')
          OR masp.supplier_name LIKE CONCAT('%', #{keywords}, '%')
        )
      </if>
      <if test="sort != null and sort !=''">
          AND masp.sort= #{sort}
      </if>
      <if test="productCode != null and productCode != ''">
          AND masp.product_code = #{productCode}
      </if>
      <if test="productName != null and productName != ''">
          AND masp.product_name = #{productName}
      </if>
      <if test="firstLargeClass != null and firstLargeClass != ''">
          AND masp.first_large_class = #{firstLargeClass}
      </if>
      <if test="specification != null and specification != ''">
          AND masp.specification = #{specification}
      </if>
      <if test="density != null and density != ''">
          AND masp.density = #{density}
      </if>
      <if test="grammage != null and grammage != ''">
          AND masp.grammage = #{grammage}
      </if>
      <if test="salesPrice != null and salesPrice != ''">
          AND masp.sales_price LIKE CONCAT('%', #{salesPrice}, '%')
      </if>
      <if test="begDate!=null and begDate!=''">
        <![CDATA[  AND DATE_FORMAT(masp.create_time, '%Y-%m-%d')>=  DATE_FORMAT(#{begDate}, '%Y-%m-%d')   ]]>
      </if>
      <if test="endDate!=null and endDate!=''">
        <![CDATA[  AND DATE_FORMAT(masp.create_time, '%Y-%m-%d') <= DATE_FORMAT(#{endDate}, '%Y-%m-%d')    ]]>
      </if>
      <if test="companyId != null">
        AND masp.company_id = #{companyId}
      </if>
    </where>
    ORDER BY masp.create_time desc
  </select>


</mapper>