<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deer.wms.produce.manage.dao.ProcessBomMapper">
  <resultMap id="BaseResultMap" type="com.deer.wms.produce.manage.model.ProcessBom">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="operator_id" jdbcType="INTEGER" property="operatorId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="process_name" jdbcType="VARCHAR" property="processName" />
    <result column="product_process_id" jdbcType="INTEGER" property="productProcessId" />
    <result column="specification" jdbcType="VARCHAR" property="specification" />
    <result column="process_content" jdbcType="VARCHAR" property="processContent" />
    <result column="process_step" jdbcType="INTEGER" property="processStep" />
    <result column="product_annex_code" jdbcType="VARCHAR" property="productAnnexCode" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="company_id" jdbcType="INTEGER" property="companyId" />
  </resultMap>

    <resultMap id="ProcessBomDTOResultMap" type="com.deer.wms.produce.manage.model.ProcessBomDto">
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="process_name" jdbcType="VARCHAR" property="processName" />
        <result column="process_content" jdbcType="VARCHAR" property="processContent" />
        <result column="process_step" jdbcType="INTEGER" property="processStep" />
        <result column="product_annex_code" jdbcType="VARCHAR" property="productAnnexCode" />
        <result column="company_name" jdbcType="VARCHAR" property="companyName" />
        <result column="product_process_name" jdbcType="VARCHAR" property="productProcessName" />
    </resultMap>

    <select id="findList" resultMap="BaseResultMap">
        SELECT *
        FROM mt_alone_process_bom
        <where>
            <if test="companyId != null">
                AND company_id = #{companyId}
            </if>
        </where>
        GROUP BY process_name
    </select>

    <select id="findListById" resultMap="BaseResultMap">
        SELECT id,process_name,specification
        FROM mt_alone_process_bom
        WHERE product_process_id = #{productProcessId}
        ORDER BY process_step
    </select>

    <insert id="insertProductProcessBom">
        INSERT INTO mt_alone_product_process_bom
        (create_time,version,product_process_name,product_id,specification,process_content,memo,company_id)
        VALUE(#{createTime},#{version},#{productProcessName},#{productId},#{specification},#{processContent},#{memo},#{companyId})
        <selectKey keyColumn="id" resultType="Integer" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <insert id="insertProcessBom" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="Id">
        INSERT INTO
        mt_alone_process_bom(create_time,process_name,product_process_id,specification,process_content,process_step,memo,company_id,process_apartment)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
                #{item.createTime},
                #{item.processName},
                #{item.productProcessId},
                #{item.specification},
                #{item.processContent},
                #{item.memo},
                #{item.companyId},
                #{item.processApartment}
            )
        </foreach>
    </insert>

    <insert id="insertProcessMaterialsBom" parameterType="java.util.List">
        INSERT INTO
        mt_alone_process_materials_bom(create_time,process_bom_id,materials_id,code,specification,dosage,memo,company_id)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
                #{item.createTime},
                #{item.processBomId},
                #{item.materialsId},
                #{item.code},
                #{item.specification},
                #{item.dosage},
                #{item.memo},
                #{item.company_id}
            )
        </foreach>
    </insert>

    <select id="findListByProductBomId" parameterType="com.deer.wms.produce.manage.model.ProcessBomParams" resultMap="BaseResultMap">
        SELECT procbom.*
        FROM mt_alone_process_bom procbom
        <where>
            <if test="productProcessId != null and productProcessId != ''">
                AND procbom.product_process_id = #{productProcessId}
            </if>
            <if test="companyId != null">
                AND procbom.company_id = #{companyId}
            </if>
        </where>
    </select>
</mapper>