<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deer.wms.produce.manage.dao.ProductProcessBomMapper">
  <resultMap id="BaseResultMap" type="com.deer.wms.produce.manage.model.ProductProcessBom">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="operator_id" jdbcType="INTEGER" property="operatorId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="product_process_name" jdbcType="VARCHAR" property="productProcessName" />
    <result column="finish_time" jdbcType="TIMESTAMP" property="finishTime" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="specification" jdbcType="VARCHAR" property="specification" />
    <result column="process_content" jdbcType="VARCHAR" property="processContent" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="product_annex_code" jdbcType="VARCHAR" property="productAnnexCode" />
    <result column="company_id" jdbcType="INTEGER" property="companyId" />
  </resultMap>

    <resultMap id="ProPrcessBomDTOResultMap" type="com.deer.wms.produce.manage.model.ProductProcessBomDto">
        <result column="product_code" jdbcType="VARCHAR" property="productCode" />
        <result column="product_name" jdbcType="VARCHAR" property="productName" />
        <result column="specification" jdbcType="VARCHAR" property="specification" />
        <result column="process_step" jdbcType="VARCHAR" property="processStep" />
        <result column="work_specification" jdbcType="VARCHAR" property="workSpecification" />
        <result column="process_content" jdbcType="VARCHAR" property="processContent" />
        <result column="product_annex_code" jdbcType="VARCHAR" property="productAnnexCode" />
        <result column="product_name" jdbcType="VARCHAR" property="productName" />
        <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    </resultMap>

<!--    <select id="findList" parameterType="com.deer.wms.produce.manage.model.ProductProcessBomParams" resultMap="ProPrcessBomDTOResultMap">-->
<!--        SELECT product.product_name, productBom.product_process_name, com.company_name-->
<!--        FROM  mt_alone_product_process_bom productBom-->
<!--        LEFT JOIN mt_alone_machining_product product ON product.id = productBom.product_id AND product.company_id = productBom.company_id-->
<!--        LEFT JOIN company com ON productBom.company_id = com.company_id-->
<!--        <where>-->
<!--            <if test="companyId != null">-->
<!--                AND productBom.company_id = #{companyId}-->
<!--            </if>-->
<!--        </where>-->
<!--    </select>-->
    <select id="findList" resultMap="ProPrcessBomDTOResultMap">
        SELECT mappb.*,mamp.*,COUNT(mapb.process_step) process_step
        FROM mt_alone_product_process_bom mappb
        LEFT JOIN mt_alone_machining_product mamp ON mappb.product_id = mamp.id
        LEFT JOIN mt_alone_process_bom mapb ON mapb.product_process_id = mappb.id
        <where>
            <if test="productCode != null and productCode != ''">
                AND mamp.product_code = #{productCode}
            </if>
            <if test="productName != null and productName != ''">
                AND mamp.product_name = #{productName}
            </if>
            <if test="specification != null and specification != ''">
                AND mamp.specification = #{specification}
            </if>
            <if test="companyId != null">
                AND mapb.company_id = #{companyId}
            </if>
        </where>
        GROUP BY mapb.product_process_id
    </select>

    <select id="findListByTerm" resultMap="ProPrcessBomDTOResultMap">
        SELECT mappb.*,mamp.*,COUNT(mapb.process_step) process_step
        FROM mt_alone_product_process_bom mappb
        LEFT JOIN mt_alone_machining_product mamp ON mappb.product_id = mamp.id
        LEFT JOIN mt_alone_process_bom mapb ON mapb.product_process_id = mappb.id
        <where>
            <if test="productCode != null and productCode != ''">
                AND mamp.product_code = #{productCode}
            </if>
            <if test="productName != null and productName != ''">
                AND mamp.product_name = #{productName}
            </if>
            <if test="specification != null and specification != ''">
                AND mamp.specification = #{specification}
            </if>
            <if test="companyId != null">
                AND mapb.company_id = #{companyId}
            </if>
        </where>
        GROUP BY mapb.product_process_id
    </select>


</mapper>