<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deer.wms.produce.manage.dao.ProductProcessMapper">
  <resultMap id="BaseResultMap" type="com.deer.wms.produce.manage.model.ProductProcess">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="operator_id" jdbcType="INTEGER" property="operatorId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="version" jdbcType="VARCHAR" property="version" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="sales_number" jdbcType="VARCHAR" property="salesNumber" />
    <result column="work_order_code" jdbcType="VARCHAR" property="workOrderCode" />
    <result column="work_order_name" jdbcType="VARCHAR" property="workOrderName" />
    <result column="delivery_code" jdbcType="VARCHAR" property="deliveryCode" />
    <result column="plan_finish_time" jdbcType="TIMESTAMP" property="planFinishTime" />
    <result column="plan_begin_time" jdbcType="TIMESTAMP" property="planBeginTime" />
    <result column="actual_finish_time" jdbcType="TIMESTAMP" property="actualFinishTime" />
    <result column="actual_begin_time" jdbcType="TIMESTAMP" property="actualBeginTime" />
    <result column="client_id" jdbcType="INTEGER" property="clientId" />
    <result column="client_name" jdbcType="VARCHAR" property="clientName" />
    <result column="contract_code" jdbcType="VARCHAR" property="contractCode" />
    <result column="contract_name" jdbcType="VARCHAR" property="contractName" />
    <result column="product_process_code" jdbcType="VARCHAR" property="productProcessCode" />
    <result column="product_process_name" jdbcType="VARCHAR" property="productProcessName" />
    <result column="finish_time" jdbcType="TIMESTAMP" property="finishTime" />
    <result column="product_bom_id" jdbcType="INTEGER" property="productBomId" />
    <result column="specification" jdbcType="VARCHAR" property="specification" />
    <result column="process_price" jdbcType="REAL" property="processPrice" />
    <result column="len" jdbcType="REAL" property="len" />
    <result column="delivery_len" jdbcType="REAL" property="deliveryLen" />
    <result column="detection_len" jdbcType="REAL" property="detectionLen" />
    <result column="batch_code" jdbcType="VARCHAR" property="batchCode" />
    <result column="batch_order_code" jdbcType="VARCHAR" property="batchOrderCode" />
    <result column="shrinkage" jdbcType="VARCHAR" property="shrinkage" />
    <result column="pi_num" jdbcType="INTEGER" property="piNum" />
    <result column="process_content" jdbcType="VARCHAR" property="processContent" />
    <result column="merchandiser_id" jdbcType="INTEGER" property="merchandiserId" />
    <result column="merchandiser_name" jdbcType="VARCHAR" property="merchandiserName" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="review_status" jdbcType="INTEGER" property="reviewStatus" />
    <result column="review_time" jdbcType="TIMESTAMP" property="reviewTime" />
    <result column="reviewer_id" jdbcType="INTEGER" property="reviewerId" />
    <result column="product_annex_code" jdbcType="VARCHAR" property="productAnnexCode" />
    <result column="company_id" jdbcType="INTEGER" property="companyId" />
  </resultMap>
</mapper>