<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deer.wms.produce.manage.dao.ProductProcessBomMapper">
  <resultMap id="BaseResultMap" type="com.deer.wms.produce.manage.model.ProductProcessBom">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="operator_id" jdbcType="INTEGER" property="operatorId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="product_process_name" jdbcType="VARCHAR" property="productProcessName" />
    <result column="finish_time" jdbcType="TIMESTAMP" property="finishTime" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="specification" jdbcType="VARCHAR" property="specification" />
    <result column="process_content" jdbcType="VARCHAR" property="processContent" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="product_annex_code" jdbcType="VARCHAR" property="productAnnexCode" />
    <result column="company_id" jdbcType="INTEGER" property="companyId" />
  </resultMap>

    <resultMap id="ProPrcessBomDTOResultMap" type="com.deer.wms.produce.manage.model.ProductProcessBomDto">
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="product_process_name" jdbcType="VARCHAR" property="productProcessName" />
        <result column="finish_time" jdbcType="TIMESTAMP" property="finishTime" />
        <result column="process_content" jdbcType="VARCHAR" property="processContent" />
        <result column="product_annex_code" jdbcType="VARCHAR" property="productAnnexCode" />
        <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    </resultMap>

</mapper>